*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  margin: auto;
  align-items: end;
  min-width: 1140px;
  padding: 133px 30px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result {
  display: flex;
  flex-direction: column;
  max-height: 534px;
  gap: 16px;
}
 
.result__video-container{
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.content__list {
  max-height: 298px;
  overflow-y: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  padding-bottom:30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
  
}

.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  width: 100%;
}

.content__card-link{
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 5px;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  background-color: transparent;
  min-width: 225px;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  border-left:none;
  border-right: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  padding: 1px;
  outline: 1px solid #fff;
}

input[type='checkbox'] + span {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  display: inline-flex;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__pseudo-checkbox:active::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__textfield, 
input[type='checkbox'] + span, 
button {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

.button {
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.more-button {
  width: 399px;
  height: 34px;
}

.button:focus,
.content__card-link:focus{
  outline: none;
}

.button:focus-visible,
.content__card-link:focus-visible {
  padding: 2px;
  outline: 1px solid #fff;
}

.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.button:active, 
.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color:#545050; 
}